<!DOCTYPE html>
<html lang="en-CA">
<head>
<title>CSS Template</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

body {
  font-family: monaco, monospace;
  margin: 0;
}

/* Style the header */
.header {
  background-color: black;
  padding: 30px;
  text-align: center;
 }

/* Style the navigation menu */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 30px;
  float: center;
}

/*Format the nav bar, using inline*/
ul li {
  float: left;
}

/*Define the link characterstics and style the words*/
ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 22px;
  text-decoration: none;
}

/*create the navigation bar background color when hovering over a tab*/
ul li a:hover {
  background-color: pink;
}

li a.active {
  color: white;
  background-color: #B1E9F4;
}

/* Create the image gallery*/
div.gallery {
  margin: 10px;
  border: 1px solid #ccc;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
  color: white;
}

.responsive {
  padding: 60px 60px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
</style>
</head>
<body>
